@import "colors.css";

* {
  all: unset;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 20px;
  color: @text;
}

scrollbar {
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: @base;
  padding: 10px;
  border: 1px solid @border;
  border-radius: 0;
}

.preview-box {
}

.box {
}

.search-container {
  background: @base;
  padding: 20px;
  border-radius: 0;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  border-radius: 0;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
  background: transparent;
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0;
}

.item-text-box {
  all: unset;
  padding: 8px 0;
  border-radius: 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0;
  opacity: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

.preview {
}
