$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: #1e1e2e;
  color: #cdd6f4;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-width: 32px;

  box.modules-left {
    margin-top: 0;
  }

  box.modules-right {
    margin-bottom: 0;
  }

  button {
    all: initial;
    background: transparent;
    border: none;
    border-radius: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    color: #cdd6f4;
  }

  button.taskbar-button {
    padding: 4px 0;
    margin: 0;
    min-height: 12px;
    color: #cdd6f4;
    opacity: 0.7;
    font-size: 12px;
  }

  button.taskbar-button.focused {
    opacity: 1;
  }

  .module {
    min-height: 12px;
    margin: 8px 0;
    font-size: 12px;
  }

  .module.clock {
    margin-top: 4px;
  }

  .module.recording {
    min-height: 12px;
    margin-top: 4px;
    font-size: 10px;
    padding-bottom: 1px;
  }

  .module.battery {
    margin: 8px 0 12px;
  }

  tooltip {
    padding: 2px;
    background: #1e1e2e;
    color: #cdd6f4;
    border: 1px solid #313244;
    border-radius: 4px;
  }
}
