[Desktop Entry]
Type=Application
Name=Silent Login Script
Exec=/bin/bash -c "~/.config/automation/starter.sh &"
X-GNOME-Autostart-enabled=true
NoDisplay=true
