environment {
    XCURSOR_SIZE "20"
    XCURSOR_THEME "Bibata-Modern-Ice"
    QT_QPA_PLATFORMTHEME "qt6ct"
    LIBVA_DRIVER_NAME ""
    GDK_SCALE "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    NVD_BACKEND "direct"
    GTK_IM_MODULE "simple"
    XMODIFIERS "@im=ibus"
}
