input {
    keyboard {
        xkb {
            layout "pt"
            options "caps:compose"
        }
    }

    touchpad {
        tap
        natural-scroll
        accel-speed -0.1
    }

    mouse {
        accel-speed -0.95
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="20%"
}
