spawn-at-startup "dbus-update-activation-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "~/dotfiles/scripts/profiles.sh true niri"
spawn-at-startup "dbus-update-activation-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "SSH_AUTH_SOCK"
spawn-at-startup "ghostty"
spawn-at-startup "zen-browser"
spawn-at-startup "vesktop"
spawn-at-startup "spotify"
