spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "mako"
spawn-sh-at-startup "swayidle -w timeout 150 'brightnessctl -s set 10' resume 'brightnessctl -r' timeout 150 'brightnessctl -sd rgb:kbd_backlight set 0' resume 'brightnessctl -rd rgb:kbd_backlight' timeout 300 'loginctl lock-session' timeout 330 'niri msg action power-off-monitors' resume 'brightnessctl -r' timeout 1800 'systemctl suspend' before-sleep 'loginctl lock-session' lock 'pidof swaylock || swaylock -f'"
spawn-sh-at-startup "~/dotfiles/scripts/profiles.sh true niri"
spawn-sh-at-startup "~/dotfiles/scripts/disable_microphone.sh"
spawn-at-startup "swayosd-server"
spawn-sh-at-startup "systemctl --user start --no-block NetworkManager.service || true"
spawn-sh-at-startup "lxqt-policykit-agent || /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator" "--no-autostart"
spawn-at-startup "nm-applet" "--indicator"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets,ssh || true"
spawn-at-startup "dbus-update-activation-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "SSH_AUTH_SOCK"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
spawn-sh-at-startup "swaybg -i ~/.config/background -m fill"
spawn-sh-at-startup "~/dotfiles/scripts/launch_waybar.sh"
spawn-at-startup "uwsm-app" "--" "ghostty"
spawn-at-startup "uwsm-app" "--" "zen-browser"
spawn-at-startup "uwsm-app" "--" "vesktop"
spawn-at-startup "uwsm-app" "--" "spotify"
