* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMonoNerdFont", Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-height: 0px;
}

window#waybar {
  background-color: transparent;
  color: white;
}

widget label,
widget box#tray {
  min-height: 20px;
  padding: 0;
  background-color: @borders;
}

tooltip {
  padding: 8px;

  background-color: @theme_base_color;
  border: 1px solid @borders;
  border-radius: 10px;
}

tooltip label {
  padding-top: 4px;
  padding-bottom: 2px;
}

module {
  border-radius: 7px
}

#window {
  min-width: 20px;
}

#workspaces.horizontal button {
  padding: 0;
  min-width: 30px;
  background-color: @borders;
  border-radius: 7px;
  transition-property: min-width, background-color;
  transition-duration: 0.2s;
}

#workspaces button.active {
  min-width: 40px;
  color: #000000;
  background-color: #cba6f7;
}

#workspaces.horizontal button:not(:last-child) {
  margin-right: 6px;
}

#workspaces.horizontal box label {
  background-color: transparent;
}

box.horizontal.modules-right,
box.horizontal.modules-left {
  background-color: @theme_base_color;
  border-radius: 15px;
  padding: 8px;

  border: 2px solid #cba6f7;
  margin-left: 3px;
  margin-right: 3px;
}

box.horizontal.modules-right label,
box.horizontal.modules-left label {
  border-radius: 7px;
  padding: 0 6px;
}

box.horizontal.modules-left label {
  min-width: 10px;
}

#tray {
  border-radius: 7px;
}

#tray>widget>image {
  min-width: 24px;
}

#tray window {
  min-height: 0px;
  min-width: 0px;
  border-radius: 15px;
}

#tray separator {
  padding: 0;
  margin: 0;
  min-height: 0px;
  min-width: 0px;
  border-radius: 15px;
}

#tray menu,
#tray decoration {
  min-width: 0px;
  border-radius: 15px;
  margin: 0;
}

#tray menu,
#tray menu>* {
  padding: 2px 0;
  min-width: 100px;
  margin: 3px 0;
}

#tray menu menuItem {
  padding: 0;
}

#tray menu label {
  padding: 0 6px;
  min-width: 40px;
  margin: 0;
  background-color: @theme_background_color;
}

#idle_inhibitor {
  padding-right: 14px;
}

#battery {
  min-width: 40px;
  padding-right: 12px;
}

#network {}

#pulseaudio {
  min-width: 40px;
  padding-right: 12px;
}

#backlight {
  min-width: 10px;
}

#clock {}

#custom-waybar-mpris {
  min-width: 100px;
  padding-right: 12px;
}

#custom-wlogout {
  padding-right: 10px;
}
