* {
  background-color: #1e1e2e;
  color: #cdd6f4;

  border: none;
  border-radius: 0;
  min-width: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

window#waybar {
  padding: 0;
}

.modules-left {
  margin-top: 0;
}

.modules-right {
  margin-bottom: 0;
  margin-left: -6px;
}

#workspaces button {
  all: initial;
  padding: 6px 0;
  margin: 1.5px 0;
  min-height: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-height: 12px;
  margin: 7.5px 0;
}

#tray {
  margin-bottom: 16px;
  margin-left: 4px;
}

#custom-expand-icon {
  margin-bottom: 18px;
  margin-left: 4px;
}

#bluetooth {
  margin-bottom: 17px;
  margin-left: 1px;
}

#network {
  margin-bottom: 13px;
}

#pulseaudio {
  margin-left: -1px;
}

#custom-expand-icon {
  margin-bottom: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-top: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-height: 12px;
  margin-top: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-height: 12px;
  margin: 7.5px 0 0 0;
}

#custom-voxtype.recording {
  color: #a55555;
}
