* {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: none;
    border-radius: 0;
}

window {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 0;
}

input {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    border-radius: 0;
}

selection {
    background-color: #cba6f7;
    color: #1e1e2e;
}

entry {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    border-radius: 0;
}
