[Unit]
Description=Aylur's GTK Shell (AGS) Bar for niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.local/bin/ags-bar
Restart=on-failure

[Install]
WantedBy=graphical-session.target
