[Unit]
Description=Wayland wallpaper daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -i %h/.config/background -m fill
Restart=on-failure

[Install]
WantedBy=graphical-session.target
