[Unit]
Description=Waybar status bar (niri config)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar -c %h/dotfiles/waybar/config.jsonc -s %h/dotfiles/waybar/style.css
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
