* {
  all: unset;
  font-family: JetBrainsMono Nerd Font;
  color: #cdd6f4;
  font-weight: normal;
  font-size: 14px;
}

.window {
  border-radius: 0;
  background-color: #1e1e2e;
  border: 1px solid #cba6f7;
  padding: 0;
}

tabs {
  padding: 0.5rem 1rem;
}

tabs > tab {
  margin-right: 1rem;
}

.tab-label {
  color: #a6adc8;
  transition: all 0.2s ease;
}

tabs > tab:checked > .tab-label, tabs > tab:active > .tab-label {
  text-decoration: underline #cba6f7;
  color: #cdd6f4;
}

tabs > tab:focus > .tab-label {
  color: #cdd6f4;
}

.page {
  padding: 1rem;
}

.image-label {
  font-size: 12px;
  padding: 0.25rem;
}

flowboxchild > .card, button > .card {
  transition: all 0.2s ease;
  border: 1px solid #313244;
  border-radius: 0;
  background-color: #181825;
  padding: 5px;
}

flowboxchild:active > .card, flowboxchild:selected > .card, button:active > .card, button:selected > .card, button:focus > .card {
  border: 1px solid #cba6f7;
  background-color: #313244;
}

.image {
  border-radius: 0;
}

.region-button {
  padding: 0.5rem 1rem;
  border-radius: 0;
  background-color: #cba6f7;
  color: #1e1e2e;
  transition: all 0.2s ease;
  border: 1px solid #cba6f7;
}

.region-button:not(:disabled):hover, .region-button:not(:disabled):focus {
  background-color: #b4befe;
  border: 1px solid #b4befe;
}

.region-button:disabled {
  background-color: #585b70;
  color: #a6adc8;
  border: 1px solid #585b70;
}